In [15]:
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [16]:
data = requests.get('https://worldcup.sfg.io/teams/results')

In [17]:
j = data.json()

In [18]:
Abhishek = ['Brazil', 'Denmark', 'Switzerland', 'Tunisia']
Ravindu = ['Germany', 'Peru', 'Serbia', 'Saudi Arabia']
Zack = ['Spain', 'Russia', 'Sweden', 'Iceland']
Kedar = ['Belgium', 'Mexico', 'Egypt', 'Australia']
Monal = ['France', 'Croatia', 'Senegal', 'Japan']
Daniel = ['Uruguay', 'Poland', 'Nigeria', 'Iran']
Harish = ['England', 'Colombia', 'Costa Rica', 'Morocco']
Abhay = ['Portugal', 'Argentina', 'Panama', 'Korea Republic']
people = {'Abhishek': Abhishek, 'Ravindu':Ravindu, 'Zack': Zack, 'Kedar': Kedar, 'Monal': Monal, 'Daniel': Daniel, 'Harish' :Harish, 'Abhay':Abhay}

In [19]:
points = {'Abhishek': 3, 'Ravindu':0, 'Zack': 3, 'Kedar': 2, 'Monal': 3, 'Daniel': 1, 'Harish' :2, 'Abhay':2}
games_played = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}

for i in j:
    for k in people:
        if i['country'] in people[k]:
            points[k] += 3*i['wins'] + 1*i['draws']
            games_played[k] += i['wins'] + i['losses'] + i['draws']

In [20]:
final = pd.Series(points, name='Points').to_frame()
final = final.reset_index()
final['Games Played'] = final['index'].map(games_played)

In [21]:
five38 = pd.read_csv('https://projects.fivethirtyeight.com/soccer-api/international/2018/wc_matches.csv')

In [22]:
okay = five38[five38['score1'].isnull()]

In [23]:
winner = []
loser = []
draw = []
for index, row in okay.iterrows():
    if int(row['proj_score1']) > int(row['proj_score2']):
        winner.append(row['team1'])
        loser.append(row['team2'])
    if int(row['proj_score1']) < int(row['proj_score2']):
        winner.append(row['team2'])
        loser.append(row['team1'])
    if int(row['proj_score1']) > int(row['proj_score2']):
        draw.append(row['team1'])
        draw.append(row['team2'])

In [24]:
projected_remaining_group_points = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}
for i in winner:
    for k in people:
         if i in people[k]:
            projected_remaining_group_points[k] += 3
for l in draw:
    for m in people:
         if l in people[m]:
            projected_remaining_group_points[m] += 1

In [25]:
final['Projected Remaining Group Points'] = final['index'].map(projected_remaining_group_points)
final['PPR'] = final['Games Played'].map(lambda x: (12-x)*3)

In [26]:
final = final.set_index('index')

In [27]:
final.sort_values(by='Points', ascending=False)

          Points  Games Played  Projected Remaining Group Points  PPR
index
Monal         20             8                                 6   12
Zack          14             8                                 4   12
Kedar         13             8                                 3   12
Abhishek      12             8                                 7   12
Daniel        12             8                                 0   12
Harish         9             8                                 5   12
Ravindu        6             8                                 3   12
Abhay          5             6                                 6   18