In [1]:
import json
import requests
import pandas as pd

In [2]:
data = requests.get('https://worldcup.sfg.io/teams/results')

In [3]:
j = data.json()

In [4]:
Abhishek = ['Brazil', 'Denmark', 'Switzerland', 'Tunisia']
Ravindu = ['Germany', 'Peru', 'Serbia', 'Saudi Arabia']
Zack = ['Spain', 'Russia', 'Sweden', 'Iceland']
Kedar = ['Belgium', 'Mexico', 'Egypt', 'Australia']
Monal = ['France', 'Croatia', 'Senegal', 'Japan']
Daniel = ['Uruguay', 'Poland', 'Nigeria', 'Iran']
Harish = ['England', 'Colombia', 'Costa Rica', 'Morocco']
people = {'Abhishek': Abhishek, 'Ravindu':Ravindu, 'Zack': Zack, 'Kedar': Kedar, 'Monal': Monal, 'Daniel': Daniel, 'Harish' :Harish}

In [5]:
points = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0}
games_played = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0}

for i in j:
    for k in people:
        if i['country'] in people[k]:
            points[k] += 3*i['wins'] + 1*i['draws']
            games_played[k] += i['wins'] + i['losses'] + i['draws']

In [6]:
final = pd.Series(points, name='Points').to_frame()
final['Games Played'] = games_played.values()

In [7]:
final.sort_values(by='Points', ascending=False)

          Points  Games Played
Monal         18             8
Zack          14             7
Abhishek      12             7
Daniel        12             6
Kedar         10             6
Harish         3             7
Ravindu        3             7