In [68]:
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [69]:
data = requests.get('https://worldcup.sfg.io/teams/results')

In [70]:
j = data.json()

In [71]:
Abhishek = ['Brazil', 'Denmark', 'Switzerland', 'Tunisia']
Ravindu = ['Germany', 'Peru', 'Serbia', 'Saudi Arabia']
Zack = ['Spain', 'Russia', 'Sweden', 'Iceland']
Kedar = ['Belgium', 'Mexico', 'Egypt', 'Australia']
Monal = ['France', 'Croatia', 'Senegal', 'Japan']
Daniel = ['Uruguay', 'Poland', 'Nigeria', 'Iran']
Harish = ['England', 'Colombia', 'Costa Rica', 'Morocco']
people = {'Abhishek': Abhishek, 'Ravindu':Ravindu, 'Zack': Zack, 'Kedar': Kedar, 'Monal': Monal, 'Daniel': Daniel, 'Harish' :Harish}

In [72]:
points = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0}
games_played = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0}

for i in j:
    for k in people:
        if i['country'] in people[k]:
            points[k] += 3*i['wins'] + 1*i['draws']
            games_played[k] += i['wins'] + i['losses'] + i['draws']

In [80]:
final = pd.Series(points, name='Points').to_frame()
final = final.reset_index()
final['Games Played'] = final['index'].map(games_played)

In [59]:
five38 = pd.read_csv('https://projects.fivethirtyeight.com/soccer-api/international/2018/wc_matches.csv')

In [60]:
okay = five38[five38['score1'].isnull()]

In [61]:
winner = []
loser = []
draw = []
for index, row in okay.iterrows():
    if int(row['proj_score1']) > int(row['proj_score2']):
        winner.append(row['team1'])
        loser.append(row['team2'])
    if int(row['proj_score1']) < int(row['proj_score2']):
        winner.append(row['team2'])
        loser.append(row['team1'])
    if int(row['proj_score1']) > int(row['proj_score2']):
        draw.append(row['team1'])
        draw.append(row['team2'])

In [62]:
projected_remaining_group_points = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0}
for i in winner:
    for k in people:
         if i in people[k]:
            projected_remaining_group_points[k] += 3
for l in draw:
    for m in people:
         if l in people[m]:
            projected_remaining_group_points[m] += 1

In [82]:
final['Projected Remaining Group Points'] = final['index'].map(projected_remaining_group_points)

In [85]:
final = final.set_index('index')

In [86]:
final.sort_values(by='Points', ascending=False)

          Points  Games Played  Projected Remaining Group Points
index
Monal         18             6                                 6
Zack          14             8                                 4
Kedar         13             8                                 3
Abhishek      12             8                                 7
Daniel        12             7                                 0
Harish         6             7                                 5
Ravindu        6             8                                 3