In [113]:
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [114]:
data = requests.get('https://worldcup.sfg.io/teams/results')
test = requests.get('https://worldcup.sfg.io/matches')

In [115]:
t = test.json()

In [116]:
j = data.json()

In [117]:
Abhishek = ['Brazil', 'Denmark', 'Switzerland', 'Tunisia']
Ravindu = ['Germany', 'Peru', 'Serbia', 'Saudi Arabia']
Zack = ['Spain', 'Russia', 'Sweden', 'Iceland']
Kedar = ['Belgium', 'Mexico', 'Egypt', 'Australia']
Monal = ['France', 'Croatia', 'Senegal', 'Japan']
Daniel = ['Uruguay', 'Poland', 'Nigeria', 'Iran']
Harish = ['England', 'Colombia', 'Costa Rica', 'Morocco']
Abhay = ['Portugal', 'Argentina', 'Panama', 'Korea Republic']
people = {'Abhishek': Abhishek, 'Ravindu':Ravindu, 'Zack': Zack, 'Kedar': Kedar, 'Monal': Monal, 'Daniel': Daniel, 'Harish' :Harish, 'Abhay':Abhay}

In [118]:
points = {'Abhishek': 3, 'Ravindu':0, 'Zack': 3, 'Kedar': 2, 'Monal': 3, 'Daniel': 1, 'Harish' :2, 'Abhay':2}
games_played = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}
teams_qualified = {'Abhishek': 3, 'Ravindu':0, 'Zack': 3, 'Kedar': 2, 'Monal': 3, 'Daniel': 1, 'Harish' :2, 'Abhay':2}
total_goal_differential = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}

for i in j:
    for k in people:
        if i['country'] in people[k]:
            points[k] += 3*i['wins'] + 1*i['draws']
            games_played[k] += i['wins'] + i['losses'] + i['draws']
            total_goal_differential[k] += i['goal_differential']

In [119]:
final = pd.Series(points, name='Points').to_frame()
final = final.reset_index()
final['Games Played'] = final['index'].map(games_played)
final['Teams Qualified'] = final['index'].map(teams_qualified)
final['Total Goal Differential'] = final['index'].map(total_goal_differential)

In [120]:
five38 = pd.read_csv('https://projects.fivethirtyeight.com/soccer-api/international/2018/wc_matches.csv')

In [121]:
okay = five38[five38['score1'].isnull()]

In [122]:
#Can't draw in knockout stages

winner = []
loser = []
draw = []
for index, row in okay.iterrows():
#    if int(row['proj_score1']) > int(row['proj_score2']):
    if (row['proj_score1']) > (row['proj_score2']):

        winner.append(row['team1'])
        loser.append(row['team2'])
#    if int(row['proj_score1']) < int(row['proj_score2']):
    if (row['proj_score1']) < (row['proj_score2']):
        winner.append(row['team2'])
        loser.append(row['team1'])
#    if int(row['proj_score1']) = int(row['proj_score2']):
#        draw.append(row['team1'])
#        draw.append(row['team2'])

In [123]:
#Can't draw in knockout stages

projected_remaining_points = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}
for i in winner:
    for k in people:
         if i in people[k]:
            projected_remaining_points[k] += 3
#for l in draw:
#    for m in people:
#         if l in people[m]:
#            projected_remaining_group_points[m] += 1

In [124]:
final['Projected Remaining Points Up Till ' + five38['date'].max()] = final['index'].map(projected_remaining_points)
#final['PPR'] = final['Games Played'].map(lambda x: (12-x)*3)

In [125]:
final = final.set_index('index')

In [126]:
final.sort_values(by='Points', ascending=False)

,Points,Games Played,Teams Qualified,Total Goal Differential,Projected Remaining Points Up Till 2018-07-03
index,,,,,
Monal,27,12,3,8,6
Abhishek,23,12,3,3,6
Zack,21,12,3,5,3
Daniel,20,12,1,1,0
Kedar,18,12,2,-1,0
Harish,16,12,2,3,0
Abhay,14,12,2,-10,3
Ravindu,12,12,0,-9,0

# Stats

In [127]:
shots = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}
shots_on_target = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}
post = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}
possession = {'Abhishek': 0, 'Ravindu':0, 'Zack': 0, 'Kedar': 0, 'Monal': 0, 'Daniel': 0, 'Harish' :0, 'Abhay':0}
for i in t:
    for z in i:
        if z == 'home_team_statistics':
            for k in people:
                if i[z]['country'] in people[k]:
                    shots[k] += i[z]['attempts_on_goal']
                    shots_on_target[k] += i[z]['on_target']
                    post[k] += i[z]['woodwork']

In [130]:
stats = pd.DataFrame({
    'Shots' : shots,
    'Shots on Target' : shots_on_target,
    'Post' : post,
    'Total Goal Differential' : total_goal_differential
})

In [131]:
stats

          Post  Shots  Shots on Target  Total Goal Differential
Abhay        1     91               30                      -10
Abhishek     2     76               23                        3
Daniel       1     87               26                        1
Harish       0     56               17                        3
Kedar        1     79               26                       -1
Monal        1     59               20                        8
Ravindu      4    103               31                       -9
Zack         1     70               24                        5